.new-tweet {
  height: relative;
  background-color: #eee;
  color: #244751;
  text-align: center;
  padding: 5px 20px 20px 20px;
  margin: 0 2em 0 2em;
  float: center;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #c2c0c0;
  overflow: auto;
}

.new-tweet h2 {
  font-size: 150%;
  border-bottom: 1px solid #244751;
  padding-bottom: 1px;
  text-align: left;
  margin-block-end: 0.6em;
}

.new-tweet form {
  object-position: center
}

.new-tweet textarea {
  width: 100%;
  padding: 3px 5px 5px 5px;
  font-size: 85%;
}

.submit {
  float: left;
}

.counter {
  float: right;
  font-size: 85%;
}