.restTweet {
  opacity: .7;
  transition: 0.5s;
}

.restTweet:hover {
  opacity: 1;
  transition: 0.5s;
}

.avatar {
  float: left;
  height: 50px;
  width: 50px;
}

.restTweet {
  background-color: #fff;
  color: #000;
  text-align: right;
  margin: 20px 2em 0 2em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #4d2222;
  overflow: auto;
  padding-bottom: 10px;
}

.restTweet header {
  background-color: #000;
  border-bottom: #4d2222;
  overflow: auto;
  padding: 5px 5px 5px 5px;
}

.restTweet h2 {
  float: left;
  font-size: 150%;
  color: #eee;
  padding-bottom: 1px;
  text-align: left;
  margin-block-end: 0.6em;
  margin: 0 0 0 8px;
}

.handle {
  font-size: 85%;
  padding-bottom: 1px;
  text-align: right;
  margin-block-end: 0.6em;
  float: right;
  margin: 0 0 0 0;
}

.tweetText {
  text-align: left;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 10px;
  font-size: 85%;
}

.restTweet footer {
  border-top: 1px solid #c2c0c0;
  padding: 10px 5px 1px 10px;
}

.restTweet #icon1 {
  color: #000;
}

.restTweet #icon1:hover {
  color: #a00000;
  transition: 0.2s;
}

.restTweet #icon2 {
  color: #000;
}

.restTweet #icon2:hover {
  color: #a00000;
  transition: 0.2s;
}

.restTweet #icon3 {
  color: #000;
}

.restTweet #icon3:hover {
  color: #a00000;
  transition: 0.2s;
}

.days {
  font-size: 85%;
  float: left;
}


