.restTweet {
  opacity: .5;
  transition: 0.5s;
}

.restTweet:hover {
  opacity: 1;
  transition: 0.5s;
}

.avatar {
  float: left;
  height: 50px;
  width: 50px;
}

.restTweet {
  height: relative;
  background-color: #fff;
  color: #244751;
  text-align: center;
  padding: 0 0 0 0;
  margin: 20px 2em 0 2em;
  float: center;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #c2c0c0;
  overflow: auto;
  padding-bottom: 10px;
}

.restTweet header {
  background-color: #69d2c2;
  border-bottom: #c2c0c0;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px 5px 5px 5px;
}

.restTweet h2 {
  float: left;
  font-size: 150%;
  padding-bottom: 1px;
  text-align: left;
  margin-block-end: 0.6em;
  margin: 0 0 0 8px;
}

.handle {
  font-size: 85%;
  padding-bottom: 1px;
  text-align: right;
  margin-block-end: 0.6em;
  float: right;
  margin: 0 0 0 0;
}

.tweetText {
  text-overflow: auto;
  text-align: left;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 5px 10px 5px 10px;
  font-size: 85%;
}

.restTweet footer {
  border-top: 1px solid #c2c0c0;
  padding: 5px 5px 5px 10px;
}

.days {
  font-size: 85%;
  float: left;
}
